format = """
$username\
$hostname\
${custom.system_icons}\
$git_branch\
${custom.giturl}\
$git_commit\
$git_state\
$git_status\
${custom.temp}\
$battery\
$memory_usage\
${custom.cpuUsage}\
$time\
$line_break\
$directory\
$character"""

[character]
success_symbol = "[❯](bold green)"

[package]
disabled = false

[hostname]
ssh_only = false
format =  "on [$hostname](bold red) "
trim_at = ".hsd1.mi.comcast.net"
disabled = false

[memory_usage]
disabled = false
threshold = -1
symbol = " "
style = "bold dimmed green"
format = "$symbol [${ram}( | ${swap})]($style) "

[directory]
disabled = false
truncation_length = 4
truncate_to_repo = false

[username]
disabled = false
show_always = true
format = "[$user]($style) "

[git_branch]
disabled = false

[git_commit]
disabled = false
tag_symbol = "  "
tag_disabled = false

[git_state]
disabled = false

[git_status]
disabled = false
ahead = "⇡${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
behind = "⇣${count}"
staged = '[++\($count\)](green)'

[battery]
disabled = false
format = "[$symbol $percentage]($style) "

[[battery.display]]
threshold = 10
style = "bold red"

[[battery.display]]
threshold = 30
style = "bold yellow"

[[battery.display]]
threshold = 100
style = "bold white"

[time]
disabled = false
use_12hr = true
format = "at [ $time]($style) "
time_format = "%r, %a %b %d"

[custom.giturl]
disabled = false
description = "Display symbol for remote Git server"
command = """
GIT_REMOTE=$(command git ls-remote --get-url 2> /dev/null)
if [[ "$GIT_REMOTE" =~ "github" ]]; then
    GIT_REMOTE_SYMBOL=" "
elif [[ "$GIT_REMOTE" =~ "gitlab" ]]; then
    GIT_REMOTE_SYMBOL=" "
elif [[ "$GIT_REMOTE" =~ "bitbucket" ]]; then
    GIT_REMOTE_SYMBOL=" "
elif [[ "$GIT_REMOTE" =~ "git" ]]; then
    GIT_REMOTE_SYMBOL=" "
else
    GIT_REMOTE_SYMBOL=" "
fi
echo "$GIT_REMOTE_SYMBOL "
"""
when = 'git rev-parse --is-inside-work-tree 2> /dev/null'
format = "via $output  "

[custom.system_icons]
description = "Show system icons"
command     = '([ $(uname -s) == "Darwin" ] && echo ) || ([ $(uname -s) == "Linux" ] && echo )'
symbol      = "on"
format      = "[$symbol]() [$output]($style) "
style       = "bold"
shell       = ["bash", "--noprofile", "--norc"]
when        = "true"

[custom.temp]
description = "Show CPU temperature."
command = "temp"
when = "true"
style = "bold  #fe8d00"
format = "at [ $output]($style) "


[custom.cpuUsage]
description = "Show CPU Usage."
shell = ["bash", "-c", "top -l 1 | grep -E \"^CPU\" | grep -Eo '[^[:space:]]+%' | head -1 | sed s/\\%/\\/"]
when = "true"
style = "bold  green"
format = "   [$output]($style) "
